<div>
    <XivWindow>
        <div class="w-full h-full p-3">
            <div
                class="w-[125%] font-archivo text-3xl leading-[1] text-white text-opacity-70 origin-left scale-x-[80%] -translate-y-[0.1em]">
                @Header
            </div>
            <div class="w-full h-[3px] rounded-full pointer-events-none xiv-divider"></div>
            <div>
                @ChildContent
            </div>
        </div>

    </XivWindow>
</div>

@code {
    [Parameter] public required string Header { get; set; }
    [Parameter] public required RenderFragment ChildContent { get; set; }
}