@page "/Components"
<h3>Components</h3>

<fieldset class="border border-solid border-gray-300 p-3">
    <legend>@nameof(XivWindow)</legend>
    <div class="h-64 grid gap-4">
        <XivWindow>@nameof(XivWindow)</XivWindow>
        <LabeledXivWindow Header="Test Header 123">
            @nameof(LabeledXivWindow)
        </LabeledXivWindow>
    </div>
</fieldset>

@code {

}